<%- include("../partials/header") %>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <h1><%= user.firstName +" "+ user.lastName %> </h1>
            <img src="<%= user.avatar %>" alt="User Profile Image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %> </a></div>
        </div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, sequi beatae eaque minus fuga assumenda quo enim rem voluptas asperiores reprehenderit, provident optio fugit ullam ad sint veritatis alias tempora.
        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quod fugiat et quia sint nesciunt!

    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s campgrounds:</h3>
        <ul class="list-group">
            <% campgrounds.forEach(function(campground){ %> 
                <li class="list-group-item"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>   </li>
            <%  }); %> 
        </ul>
    </div>
</div>

<%- include("../partials/footer") %>